@use '../mixins/hover.scss' as *;

.toggle-label{
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    padding-inline: 2px;
    border-radius: 1rem;
    background-color: grey;
    @include hover{
        cursor:pointer
    }
}
.option-input{
    display: none;
}

.toggle-label::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    transition:translate 0.3s;
}
.option-input:checked + .toggle-label{
    background-color: blue;
}
.option-input:checked + .toggle-label::after{
    translate: 20px;
}